.tela{
    position: relative;
    top:100px;
    background-color: #e0594d;

}
.adicionar_alarme{
    position: relative;
    float: right;
    padding: 5px;
}
#time{
    position: relative;
    top:70px;
    background-color: #f6f8f6;
    height: 100px;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: #d5d5d5;
    font-family: Oxygen;
    font-weight: bold;
    padding-top: 10px;
}

.alarme{
    position: relative;
    top:180px;
    background-color: #f3f5f3;
    width:100%;
    padding: 15px;
    margin-bottom: 8px;
}
.nome_remedio h2,.tempo_remedio h2,.status_remedio h2{
    font-size: 17px;
    color: #828282;
    font-family: Oxygen;
    font-weight: normal;
    padding-left: 20px;
    padding-bottom:0px;
    padding-top:0px;
}
.nome_remedio h1,.tempo_remedio h1,.status_remedio h1{
    font-size: 24px;
    color: #191919;
    font-family: Oxygen;
    font-weight: bolder;
    padding-left: 20px;
    padding-bottom:0px;
    padding-top:0px;
}
.status_remedio{
    position: relative;
    right: 0px;
    float: right;
    height: 200px;
    width: 200px;
}
.button {

    display: block;
    width: 220px;
    margin: 0 auto;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    transform: translatez(0);
    text-decoration: none;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 9px 18px rgba(0,0,0,0.2);
}
.button:hover {
    text-decoration: none;
    color: #edf4ff;
}
.instagram {
    text-align: center;
    border-radius: 50px;
    padding: 12px;
    color: white;
    background: #79b8ee;
    transition: all 0.2s ease-out 0s;
}

.gradient {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 120%;
    height: 100%;
    bottom: auto;
    margin: auto;
    z-index: -1;
    background: radial-gradient(90px circle at top center, rgba(169, 145, 238, 0.8) 30%, rgba(255,255,255,0));
    transition: all 0s ease-out 0s;
    transform: translatex(-140px);
    animation: 18s linear 0s infinite move;
}

@keyframes move {
    0% {
        transform: translatex(-140px);
    }
    25% {
        transform: translatex(140px);
        opacity: 0.3;
    }
    50% {
        transform: translatex(140px);
        opacity: 1;
        background: radial-gradient(90px circle at bottom center, rgba(205, 195, 239, 0.5) 30%, rgba(255,255,255,0));
    }
    75% {
        transform: translatex(-140px);
        opacity: 0.3;
    }
    100% {
        opacity: 1;
        transform: translatex(-140px);
        background: radial-gradient(90px circle at top center, rgba(171, 151, 238, 0.5) 30%, rgba(255,255,255,0));
    }
}
.camaleao{
    cursor:pointer;
    height:30px;
    width:30px;
    background:#fa6879;
    position: relative;
    right: 0px;
    float: right;
}
.modal-content, modal-header,modal-body, modal-foot{
    background: rgb(250, 250, 250);
    width: 150%;
}