#tabelaAdicionarAtividade{
    width: 70%;
}
#tabelaAtividade{
    width: 70%;
}
.imgTabela{
    width: 50%;
}
td{
    padding: 10px;
}

div{
    cursor:pointer;
    height:30px;
    width:30px;
    background:#fa6879;
}