body{
  overflow:hidden;
}
#menu{
  position: absolute;
  top:0px;
  left: 0px;
}
.box{
  width: 700px;
  padding: 10px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-family: Oxygen;
}
.box h2{
  color: #2B2B2B;
  font-weight: bold;
  font-family: Bree Serif;
  font-size: 35px;
}
.box h3{
  color:#525252;
  font-size: 18px;
  font-family: Bree Serif;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  outline: none;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #6DB9C7;
  padding: 14px 10px;
  width: 65%;
  background: #F0F0F0;
  color: #525252;
  border-radius: 10px;
  transition: 0.15s;
  font-family: Oxygen;

}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 70%;
  border-color: #EAE66D;
  font-family: Oxygen;
}
.box input[type = "submit"],.box input[type = "button"]{
  border:0;
  background: #F0F0F0;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  color: #525252;
  border-radius: 24px;
  transition: 0.15s;
  cursor: pointer;
  font-weight: bold;
  font-family: Oxygen;
}
.box input[type = "submit"]:hover,.box input[type = "button"]:hover{
  background: #2ecc71;
  color: white;
}

.link_discreto a{
  text-decoration:none;
 }

