/*----------------------------------------- MENU -----------------------------------------------*/
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 23, 51, 0);
    width: 100% 100%;
}

#menu li {
    float: right;
    padding: 0px 20px 0px 0px;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover:not(.active) {
    background-color: rgba(97, 7, 69, 0.58);
}

#menu ,.active {
    background-color: #3e0d48;

}

#menu{
    position: relative;
    width: 100%;

    padding: 1px 10px;
    display: inline-block;
    font-size: 15px;
    font-family: Oxygen;

    background-color: #84506c;
    color: #000000;
    text-decoration: none;
    border-bottom:0px solid #E2E2E2;
    top: 0px;
    left: 0px;
    clear: both;
    z-index: 1;
}
#menu #botao{
    background-color: rgba(147, 11, 126, 0.36);
    border: 2px solid rgba(236, 234, 218, 0.22);
}

a{
    text-decoration: none;
    padding: auto 5px;
    float: right;
}

a:active{
    color: rgba(223, 231, 239, 0.4);
}

/*----------------------------------------- teste -----------------------------------------------*/
#corum{
    position: fixed;
    height: 15px;
    width: 25%;
    background-color: #7ebfbf;
    bottom: 0px;
    left:%0;
}
#cordois{
    position: fixed;
    height: 15px;
    width:25%;
    background-color: #fa7c92;
    bottom: 0px;
    left:25%;
}
#cortres{
    position: fixed;
    height: 15px;
    width: 25%;
    background-color: #e9ff8c;
    bottom: 0px;
    left:50%;
}
#corquatro{
    position: fixed;
    height: 15px;
    width:25%;
    background-color: #3bb964;
    bottom: 0px;
    left:75%;
}
/*----------------------------------------- Botões -----------------------------------------------*/
.formulario{
    position: relative;
    top:30px;
    margin-bottom: 20px;
}

#botao_confirmar{
    position: relative;
    background-color:#3bb964 ;
    border-width: 0px;
}
#botao_cancelar{
    position: relative;
    background-color:#fa7c92 ;
    border-width: 0px;
}
#img_fundo{
    position: fixed;
    height: 25%;
    width: 25%;
    bottom:10px;
    right: -80px;
    z-index: -1;
}
.esquerda  {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#cadastrar{
    position: relative;
    top:20px
}
.radiobutton{
    margin-left: 20px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #e3e7ee;
    border-radius: 10%;

}
#tabelaConsulta{
    position:absolute;
    top:130px;
   }